<template>

 <div class="logIn_user">
 <div class="container_logIn_user"> 
 <h2>Iniciar sesión</h2>

 <form v-on:submit.prevent="processLogInUser" >
 <input type="text" v-model="user.username" placeholder="Username"> 
 <br>
 <input type="password" v-model="user.password" placeholder="Password"> 
 <br>
 <button type="submit">Iniciar Sesion</button>
 </form>
 </div>

 </div>

</template>